{
	"kind":"discovery#restDescription",
	"discoveryVersion":"v1",
	"id":"fdubbs_rest_api:v1",
	"name":"fudan bbs rest api",
	"version":"1.0",
	"title":"fudan bbs rest api",
	"description":"fudan bbs rest api",
	"documentationLink":"../spec.md",
	"protocol":"rest",
	"rootUrl":"http://rest-api-for-fdubbs.herokuapp.com/",
	"servicePath":"api/v1/",
	"auth":{
		"oauth2":{
			"scopes":{
				"http://rest-api-for-fdubbs.herokuapp.com/":{
					"description":"restful api"
				}
			}
		}
	},
	"resources":{
		"loginSession":{
			"methods":{
				"user-login":{
					"id":"user-login-session.create",
					"path":"/user/login",
					"httpMethod":"POST",
					"description": "user login",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						},
						"user_id":{
							"type":"string",
							"description":"user id",
							"required":true,
							"location":"form"
						},
						"passwd":{
							"type":"string",
							"description":"user id",
							"required":true,
							"location":"form"
						}

					},
					"response":{
						"type":"object",
						"description":"login response",
						"$ref":"login_response.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"user-logout":{
					"id":"user-login-session.delete",
					"path":"/user/logout",
					"httpMethod":"POST",
					"description": "user login",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		},
		"user":{
			"methods":{
				"get-user-info":{
					"id":"user_info.get",
					"path":"/user/info/{user_id}",
					"httpMethod":"GET",
					"description": "get info of the specified user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						},
						"user_id":{
							"type":"string",
							"description":"user id",
							"required":true,
							"location":"path"
						}
					},
					"response":{
						"type":"object",
						"description":"info of the specified user",
						"$ref":"user_info.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		},
		"friend":{
			"methods":{
				"get-all-friend":{
					"id":"all_friend.get",
					"path":"/profile/friend/all",
					"httpMethod":"GET",
					"description": "get all friends of the logined user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"response":{
						"type":"array",
						"description":"all friends of the logined user",
						"items":{
							"type":"object",
							"$ref":"friend.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"get-online-friend":{
					"id":"online_friend.get",
					"path":"/profile/friend/onilne",
					"httpMethod":"GET",
					"description": "get all online friends of the logined user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"response":{
						"type":"array",
						"description":"all online friends of the logined user",
						"items":{
							"type":"object",
							"$ref":"friend.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		},
		"profile":{
			"methods":{
				"get-basic-profile":{
					"id":"profile_basic.get",
					"path":"/profile/basic",
					"httpMethod":"GET",
					"description": "get the basic profile of the logined user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"response":{
						"type":"object",
						"description":"the basic profile of the logined user",
						"$ref":"basic_profile.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"get-user-introdution":{
					"id":"user_introdution.get",
					"path":"/profile/introdution",
					"httpMethod":"GET",
					"description": "get the introdution of the logined user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"response":{
						"type":"object",
						"description":"the introdution of the logined user",
						"$ref":"user_introdution.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"get-user-signature":{
					"id":"user_signature.get",
					"path":"/profile/signature",
					"httpMethod":"GET",
					"description": "get the signature of the logined user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"response":{
						"type":"object",
						"description":"the signature of the logined user",
						"$ref":"user_signature.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		},
		"mail":{
			"methods":{
				"get-new-mails":{
					"id":"new_mails.get",
					"path":"/mail/new",
					"httpMethod":"GET",
					"description": "get the new mails of the logined user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"response":{
						"type":"array",
						"description":"new mails of the logined user",
						"items":{
							"type":"object",
							"$ref":"mail_summary.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"get-all-mails":{
					"id":"all_mails.get",
					"path":"/mail/all/{start_num}",
					"httpMethod":"GET",
					"description": "get all mails of the logined user, if {start_num} is missing, then return last 20 mails",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						},
						"start_num":{
							"type":"integer",
							"description":"start number",
							"required":false,
							"location":"path"
						}
					},
					"response":{
						"type":"object",
						"description":"all mails of the logined user",
						"$ref":"mail_summary_inbox.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"get-mail-detail":{
					"id":"mail_detail.get",
					"path":"/mail/detail/{mail_number}/{mail_link}",
					"httpMethod":"GET",
					"description": "get the mail detail ",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						},
						"mail_number":{
							"type":"integer",
							"description":"mail number",
							"required":true,
							"location":"path"
						},
						"mail_link":{
							"type":"integer",
							"description":"mail link",
							"required":true,
							"location":"path"
						}
					},
					"response":{
						"type":"object",
						"description":"all mails of the logined user",
						"$ref":"mail_detail.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		},
		"board":{
			"methods":{
				"list-all-boards":{
					"id":"all_boards.list",
					"path":"/boards/all",
					"httpMethod":"GET",
					"description": "list all boards",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						}
					},
					"response":{
						"type":"array",
						"description":"all boards",
						"items":{
							"type":"object",
							"$ref":"board.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"list-user-favorite-boards":{
					"id":"user_favorite_boards.list",
					"path":"/boards/favor",
					"httpMethod":"GET",
					"description": "list all favor boards of the user",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":true,
							"location":"cookie"
						}
					},
					"response":{
						"type":"array",
						"description":"all favor boards of the user",
						"items":{
							"type":"object",
							"$ref":"board.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		},
		"section":{
			"methods":{
				"list-all-sections":{
					"id":"sections.list",
					"path":"/section/all",
					"httpMethod":"GET",
					"description": "list all sections",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						}
					},
					"response":{
						"type":"array",
						"description":"all sections' meta data",
						"items":{
							"type":"object",
							"$ref":"section_meta_data.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"show-all-boards-in-section":{
					"id":"boards.list",
					"path":"section/{section_id}/",
					"httpMethod":"GET",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						},
						"section_id":{
							"type":"integer",
							"description":"section id",
							"required":true,
							"location":"path"
						}
					},
					"description": "list all boards in secified section",
					"response":{
						"type":"object",
						"description":"section detail",
						"$ref":"section.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		},
		"post":{
			"methods":{
				"list-top-posts":{
					"id":"top_posts.list",
					"path":"/post/top10",
					"httpMethod":"GET",
					"description": "list top 10 posts",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						}
					},
					"response":{
						"type":"array",
						"description":"post summary of top 10 posts",
						"items":{
							"type":"object",
							"$ref":"post_summary.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"list-post-summary-with-board-name":{
					"id":"post_summary_with_board_name.list",
					"path":"/post/summary/board/{board_name}/{list_mode}/{start_num}",
					"httpMethod":"GET",
					"description": "list post summary in specified board and start post number",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						},
						"board_name":{
							"type":"string",
							"description":"board name",
							"required":true,
							"location":"path"
						},
						"list_mode":{
							"type":"string",
							"description":"list mode, 'normal' or 'topic'",
							"required":true,
							"location":"path"
						},
						"start_num":{
							"type":"integer",
							"description":"start post number, if not specified then return the last 20 posts",
							"required":false,
							"location":"path"
						}
					},
					"response":{
						"type":"array",
						"description":"post summary of top 10 posts",
						"items":{
							"type":"object",
							"$ref":"board_summary_in_board.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"list-post-summary-with-board-id":{
					"id":"post_summary_with_board_id.list",
					"path":"/post/summary/bid/{board_id}/{list_mode}/{start_num}",
					"httpMethod":"GET",
					"description": "list post summary in specified board and start post number",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						},
						"board_id":{
							"type":"integer",
							"description":"board id",
							"required":true,
							"location":"path"
						},
						"list_mode":{
							"type":"string",
							"description":"list mode, 'normal' or 'topic'",
							"required":true,
							"location":"path"
						},
						"start_num":{
							"type":"integer",
							"description":"start post number, if not specified then return the last 20 posts",
							"required":false,
							"location":"path"
						}
					},
					"response":{
						"type":"array",
						"description":"post summary of top 10 posts",
						"items":{
							"type":"object",
							"$ref":"board_summary_in_board.json"
						}
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"get-post-detail-with-board-name":{
					"id":"post_detail_with_board_name.get",
					"path":"/post/detail/board/{board_name}/{post_id}",
					"httpMethod":"GET",
					"description": "list post summary in specified board and start post number",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						},
						"board_name":{
							"type":"string",
							"description":"board name",
							"required":true,
							"location":"path"
						},
						"post_id":{
							"type":"integer",
							"description":"post_id",
							"required":true,
							"location":"path"
						}
					},
					"response":{
						"type":"object",
						"description":"section detail",
						"$ref":"post_detail.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				},
				"get-post-detail-with-board-id":{
					"id":"post_detail_with_board_id.get",
					"path":"/post/detail/bid/{board_id}/{list_mode}/{post_id}",
					"httpMethod":"GET",
					"description": "list post summary in specified board and start post number",
					"parameters":{
						"auth_code":{
							"type":"string",
							"description":"user auth code",
							"required":false,
							"location":"cookie"
						},
						"board_id":{
							"type":"integer",
							"description":"board id",
							"required":true,
							"location":"path"
						},
						"list_mode":{
							"type":"string",
							"description":"list mode, 'normal' or 'topic'",
							"required":true,
							"location":"path"
						},
						"post_id":{
							"type":"integer",
							"description":"post_id",
							"required":true,
							"location":"path"
						}
					},
					"response":{
						"type":"object",
						"description":"section detail",
						"$ref":"post_detail.json"
					},
					"scopes":[
						"http://rest-api-for-fdubbs.herokuapp.com/"
					]
				}
			}
		}
	}

}
