<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/overview/">Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/overview/sections/">Object: Sections</a></li>
          <li><a href="/overview/boards/">Object: Boards</a></li>
          <li><a href="/overview/posts/">Object: Posts</a></li>
          <li><a href="/overview/users/">Object: Users</a></li>
          <li><a href="/overview/friends/">Object: Friends</a></li>
          <li><a href="/overview/mails/">Object: Mails</a></li>
          <li><a href="/overview/oauth2/">OAuth2</a></li>
          <li><a href="/overview/pagination/">Using cursors to navigate collections</a></li>
          <li><a href="/overview/errorCodes/">Error Codes & Responses</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/sections/">Sections</a></h3>
        <ul class="js-guides">
          <li><a href="/sections/section-list/">Section List</a></li>
          <li><a href="/sections/section-detail/">Section Detail</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/boards/">Boards</a></h3>
        <ul class="js-guides">
          <li><a href="/boards/board-list/">Board List</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/posts/">Posts</a></h3>
        <ul class="js-guides">
          <li><a href="/posts/top-post/">Top Post</a></li>
          <li><a href="/posts/post-list/">Post List</a></li>
          <li><a href="/posts/post-detail/">Post Detail</a></li>
          <li><a href="/posts/post-reply/">Post Reply</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/profiles/">Profiles</a></h3>
        <ul class="js-guides">
          <li><a href="/profiles/user-profile/">User Profile</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/friends/">Friends</a></h3>
        <ul class="js-guides">
          <li><a href="/friends/friend-list/">Friend List</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/mails/">Mails</a></h3>
        <ul class="js-guides">
          <li><a href="/mails/mail-list/">Mail List</a></li>
          <li><a href="/mails/mail-detail/">Mail Detail</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
  <!--
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/github/developer.github.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
  -->

	<div class="sidebar-module api-status"><a href="#" class="unknown">API Status</a></div>

</div><!-- /sidebar-shell -->
